#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.profimg {
  border-radius: 50%;
  height: 110px;
  width: 110px;
}
.profcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.name {
  text-align: left;
  margin: 15px;
}
ion-button:hover {
  color: white;
  border-bottom: solid 2px;
}
ion-button:active {
  color: white;
  border-bottom: solid 2px;
}
#user-toolbar {
  font-size: 21px;
  color: white;
}
#nav {
  text-align: center;
}
